.nav-button {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background-color: burlywood;
}

.nav-button:hover {
    background-color: bisque;
}

textarea {
    resize: none;
}