<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Compression</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <button class="nav-button"><a href="/index.html">Home</a></button>
    <h1>Text Compression Test: </h1>


    <main class="user-input">
        <textarea id="input" rows="4" cols="50"></textarea>
    </main>
    <br>

    <main class="computer-output">
        <textarea readonly rows="4" cols="50">The compressed text!!!</textarea>
    </main>

    <script src="/src/script.js"></script>
</body>
</html>